.genresContainer {
	margin: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}

.genreCard {
	flex: 200px 1 0;
	color: white;
	text-decoration: none;
}

.genreCard:hover {
	opacity: 0.6;
	color: white;
}